# .pre-commit-config.yaml
default_language_version:
  python: python3.11

exclude: |
  (?x)^(
    data/|
    outputs/|
    .*\.ipynb_checkpoints/|
    .*\.lock|
    .*\.json
  )$

repos:
  # Hooks cơ bản
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: detect-private-key
      - id: check-added-large-files

  # Format Python
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=100"]

  # Lint Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Format C++ code (clang-format)
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        args: ["-style=file"]

  # Clear output notebook trước khi commit
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
